{% extends 'layout2.html' %}
{% block content %}



    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <h2>컴퓨터/프린터 수리 요청 게시판 신청이 완료되었습니다.
                                    </h2>
                                  
                                 
                                  <br>
                                 <a href="{{ doc_root }}repair/{{ $SD_SCHUL_CODE}}" class="btn btn-primary">수리 요청 게시판 바로가기</a>
                                 </a>
                                <div>
           
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>


{% endblock %}