{% extends 'layout2.html' %}
{% block content %}



    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">
    
            <div class="row">
    
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <h2>컴퓨터 정보 수집 서비스 신청이 완료되었습니다.
                                    </h2><br>
                      
                                    https://neohum779.mycafe24.com/www/check/l{{ SD_SCHUL_CODE}}{{year}}<br>
                                   <br> 
                                   ** 위 링크를 복사하여 모든 교사에게 보내주세요. **
                                   <br>
                                   ** 매년 해당 서비스 링크를 재생성해야 합니다. **
                                   <br>
                                   ** 해당 서비스는 년도 별로 기록 됩니다. **
                                   <br>  
                                    <br>
                                    <button class="btn btn-info position-relative mb-2 me-4" onClick="copy()">
                                      <span class="btn-text-inner">링크 복사하기</span>
                                      
                                  </button>
                                    
                                    <br>
                                 <a href="{{ doc_root }}check/l{{ SD_SCHUL_CODE}}{{ year }}" class="btn btn-primary" target=_blank>컴퓨터 정보 수집 서비스 바로가기</a>
                                 <br>
                                  <br>
                                  <br>
                                 <form method="post" action="{{ doc_root }}check_email_sending" > 
                                 
                                  <div class="col-md-12">
                                      <div class="mb-3">
                                          <label class="form-label">이메일(이메일은 저장되지 않습니다. 서비스 링크 발송용입니다.)</label>
                                          <input type="hidden" name="SD_SCHUL_CODE" id="SD_SCHUL_NM" value="{{ SD_SCHUL_CODE }}">
                                          <input type="hidden" name="SCHUL_NM" id="SCHUL_NM" value="{{ SCHUL_NM }}"> 
                                          <input type="hidden" name="year" id="year" value="{{ year }}">
                                          <input type="email" id="email" name="email" value="{{ email }}" class="form-control">
                                      
                                      </div>
                                  </div>
                                  
                                  <div class="col-12">
                                      <div class="mb-4">
                                          <button id="submit" class="btn btn-secondary w-100" >이메일 보내기</button>
                                      </div>
                                  </div>
                               </form>
                                 
                                <div>
           
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>


{% endblock %}