
{% extends 'layout2.html' %}

{% block content %}

<div class="auth-container d-flex">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <h1>죄송합니다. 찾을 수 없는 페이지입니다. 이미 서비스 생성이 되어 있는 경우에도 해당 메시지가 뜹니다. 
                            <p><a href="/">[홈으로 돌아가기]</a> 
                              <br>이메일로 연락주시면 답변 드리겠습니다.  : schoolworks@nate.com </p>
                          </h1>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}