{% extends 'layout.html' %}
{% block content %}



    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http:</td> <td>www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
            
            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="../src/assets/img/logo2.svg" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="/" class="nav-link"> 신뢰기반 상호 점검 서비스 </a>
                </li>
            </ul>


            <ul class="navbar-item flex-row ms-lg-auto ms-0 action-area"> 

            <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    {% if studentname == 0%}
                    <a href="/" >로그인</a>
                    {% else %}
                   {{ studentnumber }}번 / {{ studentname }}님, 환영합니다. 
                           
               </li>

               
            </ul>

              <ul class="navbar-item flex-row action-area">
              <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                 <a href="/" >로그아웃</a>
                </li>
            </ul>
            {% endif %}
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <div class="navbar-nav theme-brand flex-row  text-center">
                    <div class="nav-logo">
                        <div class="nav-item theme-logo">
                            <a href="/">
                                <img src="../src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                            </a>
                        </div>
                        <div class="nav-item theme-text">
                            <a href="/" class="nav-link"> CORK </a>
                        </div>
                    </div>
                    <div class="nav-item sidebar-toggle">
                        <div class="btn-toggle sidebarCollapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        </div>
                    </div>
                </div>
                <div class="shadow-bottom"></div>
           
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu ">
                        <a href="s-dashboard"  class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>학생 자율 점검 결과</span>
                            </div>
                            
                        </a>
              
                    </li>
                    <li class="menu active">
                        <a href="s-dashboard-check"  class="dropdown-toggle">
                            <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
                                
                            <span>학생 자율 점검하기</span>
                            </div>
                            
                        </a>
              
                    </li>
        

                  
                    
                 

                    

                   

                </ul>
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">

                    <!--  BEGIN BREADCRUMBS  -->
                    <div class="secondary-nav">
                        <div class="breadcrumbs-container" data-page-heading="Analytics">
                            <header class="header navbar navbar-expand-sm">
                                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                                    <svg xmlns="http:</td> <td>www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                                </a>
                                <div class="d-flex breadcrumb-content">
                                    <div class="page-header">

                                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                            </ol>
                                        </nav>

                                    </div>
                                </div>
                              
                            </header>
                        </div>
                    </div>
                    <!--  END BREADCRUMBS  -->
                   <br>
    
               <h1>자율 점검 하기</h1>
                <br>
                <table>
        
                    <tr>
                        <td>점검하는 학생 --></td>
                        <td> </td>
                        <td>{{ studentname }}</td>
                    </tr>
                    <tr>
                        <td>점검하는 학생 번호 --></td>
                        <td> </td>
                        <td>{{ studentnumber }}번</td>
                    </tr>

                </table>
                <table>
        
                    
                </table>
             
             
            </div>
            <br>
            <br>
            <tr>   
                 
                   

        <div class="container text-center table">
          
              <div class="row ">
               
                  <div class="col">점검 대상</div>
                  <div class="col">항목</div>
                  <div class="col">점수1</div>
                  <div class="col">점수2</div>
                  <div class="col">생성일</div>
                  <div class="col">입력</div>
               
              </div>
              
              {% for next_student1 in next_student1s%}
              <form action="{{doc_root}}s-dashboard-checkbox" method="post">
              <div class="row ">
                <div class="col" >{{ next_student1.studentname }}</div>
                
                <div class="col">{{ next_student1.subjectname2 }}</div>
                <div  class="col" >
                  {% if next_student1.subjectname == "CheckBox" %}
                     {%  if next_student1.score == 1 %}
                        <input type="checkbox" checked name="score1" value=1>
                      {% else %}
                        <input type="checkbox" name="score1" value="1">
                      {% endif %}
                  {% elseif next_student1.subjectname == "5CheckBox" %}
                     {% if next_student1.score == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student1.score == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student1.score == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student1.score == 4%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4" checked>&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student1.score == 5%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5" checked>
                      {% else %}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% endif %}
                  {% elseif next_student1.subjectname == "3CheckBox" %}
                      {% if next_student1.score == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% elseif next_student1.score == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">
                      {% elseif next_student1.score == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>
                      {% else %}
                           <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% endif %}
                           {% elseif next_student1.subjectname == "Writing" %}
                              {% if next_student1.score != null %}
                              <textarea class="form-control" name="score1">{{ next_student1.score }}</textarea>
                              {% else %}
                              <textarea class="form-control" name="score1"></textarea>
                              {% endif %}
                  {% endif %}
                  

                  <input type="hidden" name="subjectname1" value="{{ next_student1.subjectname }}">
                  <input type="hidden" name="score" value="{{ next_student1.score }}">
                  <input type="hidden" name="studentname" value="{{ next_student1.studentname }}">
                  <input type="hidden" name="studentnumber" value="{{ next_student1.studentnumber }}">
                  <input type="hidden" name="created_at" value="{{ next_student1.created_at }}">
                 
                </div>
                <div class="col" >점수2</div>
                <div class="col">{{ next_student1.created_at|date("Y/m/d") }}</div>
                <div class="col"><button class="btn btn-primary" id="btn{{ loop.index }}">입력하기</div>
              </div>
              </form>
              {% endfor %}
              <br>
              <br>


              <div class="row">
                <div class="col">점검 대상</div>
               
                <div class="col">항목</div>
                <div class="col">점수1</div>
                <div class="col">점수2</div>
                <div class="col">생성일</div>
                <div class="col">입력</div>
              </div>
              {% for next_student2 in next_student2s%}
              <form action="{{doc_root}}s-dashboard-checkbox2" method="post">
              <div class="row ">
                <div class="col" >{{ next_student2.studentname }}</div>
                
                <div class="col">{{ next_student2.subjectname2 }}</div>
                <div class="col" >점수1</div>
                <div  class="col" >
                  {% if next_student2.subjectname == "CheckBox" %}
                     {%  if next_student2.score2 == 1 %}
                        <input type="checkbox" checked name="score1" value=1>
                      {% else %}
                        <input type="checkbox" name="score1" value="1">
                      {% endif %}
                  {% elseif next_student2.subjectname == "5CheckBox" %}
                     {% if next_student2.score2 == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student2.score2 == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student2.score2 == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student2.score2 == 4%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4" checked>&ensp;<input type="radio" name="score1" value="5">
                      {% elseif next_student2.score2 == 5%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5" checked>
                      {% else %}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% endif %}
                  {% elseif next_student2.subjectname == "3CheckBox" %}
                      {% if next_student2.score2 == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% elseif next_student2.score2 == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">
                      {% elseif next_student2.score2 == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>
                      {% else %}
                           <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% endif %}
                           {% elseif next_student2.subjectname == "Writing" %}
                              {% if next_student2.score2 != null %}
                              <textarea class="form-control" name="score1">{{ next_student2.score2 }}</textarea>
                              {% else %}
                              <textarea class="form-control" name="score1"></textarea>
                              {% endif %}
                  {% endif %}
                  
                  
                  <input type="hidden" name="subjectname1" value="{{ next_student2.subjectname }}">
                  <input type="hidden" name="score" value="{{ next_student2.score2 }}">
                  <input type="hidden" name="studentname" value="{{ next_student2.studentname }}">
                  <input type="hidden" name="studentnumber" value="{{ next_student2.studentnumber }}">
                  <input type="hidden" name="created_at" value="{{ next_student2.created_at }}">
                 
                </div>
                
                <div class="col">{{ next_student2.created_at|date("Y/m/d") }}</div>
                <div class="col"><button class="btn btn-primary" id="btn{{ loop.index }}">입력하기</div>
              </div>
              </form>
              {% endfor %}
           
            </div>
          </div>
        </div>


              <br>
              <br>

            <!--  BEGIN FOOTER  -->
          <div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2024</span> <a target="_blank" href="https:</td> <td>designreset.com/cork-admin/">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">SchoolWorks</p>
                </div>
            </div>
            <!--  END FOOTER  -->
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/src/plugins/src/waves/waves.min.js"></script>
    <script src="/layouts/horizontal-light-menu/app.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
   
  
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

  
      


{% endblock %}