{% extends 'schoolworks_dashboard_layout.html' %}
{% block content %}

            <!--  BEGIN NAVBAR  -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
            
            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                   
                </li>
                <li class="nav-item theme-text">
                    <a href="/" class="nav-link"> SchoolAdmin Apps Dashboard </a>
                </li>
            </ul>

       
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">
          
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">

                    <!--  BEGIN BREADCRUMBS  -->
                    <div class="secondary-nav">
                        <div class="breadcrumbs-container" data-page-heading="Analytics">
                            <header class="header navbar navbar-expand-sm">
                              
                            </header>
                        </div>
                    </div>
                    <!--  END BREADCRUMBS  -->
                    
       

                    <div class="row layout-top-spacing">

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-card-four">
                                <div class="widget-content">
                                    <div class="w-header">
                                        <div class="w-info">
                                            <h6 class="value">컴퓨터 수리 요청 서비스</h6>
                                        </div>
                                        
                                    </div>

                                   

                                    <div class="w-progress-stats">                                            
                                        

                                        <div class="">
                                            <div >
                                              {% for repair in repairs %}
                                                <div >
                                                    <a href="{{ doc_root }}repair/{{ repair.SD_SCHUL_CODE }}" target=_blank><h6>{{ repair.SCHUL_NM }}-{{ repair.SD_SCHUL_CODE }}</h6> </a>
                                          
                                                </div>
                                              <p>
                                              {% endfor %}
                                        </div>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-card-four">
                                <div class="widget-content">
                                    <div class="w-header">
                                        <div class="w-info">
                                            <h6 class="value">프린터 수리 요청 서비스</h6>
                                        </div>
                                        
                                    </div>

                                   

                                    <div class="w-progress-stats">                                            
                                        

                                        <div class="">
                                            <div >
                                              {% for printer in printers %}
                                                <div >
                                                  <a href="{{ doc_root }}printer/{{ printer.SD_SCHUL_CODE }}" target=_blank>
                                                    <h6 >{{ printer.SCHUL_NM }}-{{ printer.SD_SCHUL_CODE }}</h6>
                                                  </a>
                                                </div>
                                              <p>
                                              {% endfor %}
                                        </div>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-card-four">
                                <div class="widget-content">
                                    <div class="w-header">
                                        <div class="w-info">
                                            <h6 class="value">건물 수리 요청 서비스</h6>
                                        </div>
                                        
                                    </div>

                                   

                                    <div class="w-progress-stats">                                            
                                        

                                        <div class="">
                                            <div >
                                              {% for crepair in crepairs %}
                                                <div >
                                                  <a href="{{ doc_root }}crepair/{{ crepair.SD_SCHUL_CODE }}" target=_blank>
                                                    <h6 >{{ crepair.SCHUL_NM }}-{{ crepair.SD_SCHUL_CODE }}</h6>
                                                  </a>
                                                </div>
                                              <p>
                                              {% endfor %}
                                        </div>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-card-four">
                                <div class="widget-content">
                                    <div class="w-header">
                                        <div class="w-info">
                                            <h6 class="value">화장실 수리 요청 서비스</h6>
                                        </div>
                                        
                                    </div>

                                   

                                    <div class="w-progress-stats">                                            
                                        

                                        <div class="">
                                            <div >
                                              {% for toilet in toilets %}
                                                <div >
                                                  <a href="{{ doc_root }}toilet/{{ toilet.SD_SCHUL_CODE }}" target=_blank>
                                                    <h6 >{{ toilet.SCHUL_NM }}-{{ toilet.SD_SCHUL_CODE }}</h6>
                                                  </a>
                                                </div>
                                              <p>
                                              {% endfor %}
                                        </div>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                            <div class="widget widget-card-four">
                                <div class="widget-content">
                                    <div class="w-header">
                                        <div class="w-info">
                                            <h6 class="value">과학실 준비물 요청 서비스</h6>
                                        </div>
                                        
                                    </div>

                                   

                                    <div class="w-progress-stats">                                            
                                        

                                        <div class="">
                                            <div >
                                              {% for sci in scis %}
                                                <div >
                                                  <a href="{{ doc_root }}sci/{{ sci.SD_SCHUL_CODE }}" target=_blank>
                                                    <h6 >{{ sci.SCHUL_NM }}-{{ sci.SD_SCHUL_CODE }}</h6>
                                                  </a>
                                                </div>
                                              <p>
                                              {% endfor %}
                                        </div>
                                      </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        

                    </div>

                </div>

            </div>
            <!--  BEGIN FOOTER  -->
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="https://designreset.com/cork-admin/">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
            <!--  END FOOTER  -->
        </div>
        <!--  END CONTENT AREA  -->

    </div>

{% endblock %}