<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>schoolworks</title>
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/8/8d/Icon_S_blue.svg"/>

      <link href="/layouts/vertical-light-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
      <link href="/layouts/vertical-light-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
      <script src="/layouts/vertical-light-menu/loader.js"></script>

      
      <link rel="preconnect" href="https://fonts.gstatic.com"> 
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
      <link href="/layouts/vertical-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
      <link href="/layouts/vertical-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    
       <!-- Css File -->
   
      <link rel="stylesheet" href="/css/animate.min.css">
      <link rel="stylesheet" href="/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/mediabox.min.css">
      <link rel="stylesheet" href="/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/css/style.css">
     
      <link rel="stylesheet" href="/css/responsive.css">
   
      
      <!-- BEGIN GLOBAL MANDATORY STYLES -->
      <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
      <link href="/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      
      <link href="/layouts/vertical-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
      <link href="/src/assets/css/light/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />
      
      <link href="/layouts/vertical-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
      <link href="/src/assets/css/dark/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />
      <link href="/src/assets/css/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />
      <!-- END GLOBAL MANDATORY STYLES -->
       <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        
      <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

  </head>

  <body>
     


 <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>
            
            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="/src/assets/img/logo2.svg" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="/" class="nav-link"> 신뢰기반 상호 점검 서비스 </a>
                </li>
            </ul>


            <ul class="navbar-item flex-row ms-lg-auto ms-0 action-area">

                 <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    {% if session.userName == 0%}
                    <a href="{{ doc_root }}t-admin" >로그인</a>
                    {% else %}
                                {{ session.userName }}님, 환영합니다. 
                           
               </li>

               
            </ul>

              <ul class="navbar-item flex-row action-area">
              <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                 <a href="{{ doc_root }}t-logout" >로그아웃</a>
                </li>
            </ul>
            {% endif %}
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <div class="navbar-nav theme-brand flex-row  text-center">
                    <div class="nav-logo">
                        <div class="nav-item theme-logo">
                            <a href="/">
                                <img src="/src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                            </a>
                        </div>
                        <div class="nav-item theme-text">
                            <a href="/" class="nav-link"> CORK </a>
                        </div>
                    </div>
                    <div class="nav-item sidebar-toggle">
                        <div class="btn-toggle sidebarCollapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        </div>
                    </div>
                </div>
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu ">
                        <a href="t-dashboard"  class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>학생 점검 목록 생성</span>
                            </div>
                            
                        </a>
              
                    </li>
                      
        

                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>APPLICATIONS</span></div>
                    </li>

                    <li class="menu active">
                        <a href="{{ doc_root }}t-dashboard-regis-s"  class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
                                <span>학생 제출 상황</span>
                            </div>
                            
                        </a>
                      
                    </li>

                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>USER INTERFACE</span></div>
                    </li>

                    <li class="menu">
                        <a href="{{ doc_root }}t-dashboard-make-s"class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                                <span>우리반 생성/최초 1회만</span>
                            </div>
                            <div>
                            </div>
                        </a>
                      
                    </li>

                    <li class="menu">
                        <a href="{{ doc_root }}t-dashboard-student-manage" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                                <span>우리반 등록 현황</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                       
                    </li>

                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>TABLES AND FORMS</span></div>
                    </li>


                </ul>
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">

                    <!--  BEGIN BREADCRUMBS  -->
                    <div class="secondary-nav">
                        <div class="breadcrumbs-container" data-page-heading="Analytics">
                            <header class="header navbar navbar-expand-sm">
                                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                                </a>
                                <div class="d-flex breadcrumb-content">
                                    <div class="page-header">

                                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                            </ol>
                                        </nav>

                                    </div>
                                </div>
                              
                            </header>
                        </div>
                    </div>
                    <!--  END BREADCRUMBS  -->
                   <br>
    
                   <ul class="navbar-nav flex-row ms-auto breadcrumb-action-dropdown">
              
                        <li class="nav-item more-dropdown">
                           
                            <div class="nav-item more-dropdown ml-130 mb-20">
                                <h2><span>번호: {{ studentnumber }} =>  {{ studentname }} 학생의 평가 결과입니다.</span></h2>
                            </div>
                           
                        </li>
                    </ul>

                </div>
                <table class="table table-hover text-center">
                  <thead>
                    <tr>
                        <th>평가 항목</th>
                        <th>평가 결과 1</th>
                        <th>평가 결과 2</th>
                        <th>평가일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_results %}
                    
                    <tr>
                        <td>{{ student.subjectname2 }}</td>
                        <td>
                          {% if student.subjectname == "CheckBox" %}
                     {%  if student.score == 1 %}
                        <input type="checkbox" checked name="score1" value=1>
                      {% else %}
                        <input type="checkbox" name="score1" value="1">
                      {% endif %}
                  {% elseif student.subjectname == "5CheckBox" %}
                     {% if student.score == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score == 4%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4" checked>&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score == 5%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5" checked>
                      {% else %}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% endif %}
                  {% elseif student.subjectname == "3CheckBox" %}
                      {% if student.score == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% elseif student.score == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">
                      {% elseif student.score == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>
                      {% else %}
                           <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% endif %}
                           {% elseif student.subjectname == "Writing" %}
                              {% if student.score != null %}
                              <textarea class="form-control" name="score1">{{ student.score }}</textarea>
                              {% else %}
                              <textarea class="form-control" name="score1"></textarea>
                              {% endif %}
                  {% endif %}
                        </td>
                        <td>
                          {% if student.subjectname == "CheckBox" %}
                     {%  if student.score2 == 1 %}
                        <input type="checkbox" checked name="score1" value=1>
                      {% else %}
                        <input type="checkbox" name="score1" value="1">
                      {% endif %}
                  {% elseif student.subjectname == "5CheckBox" %}
                     {% if student.score2 == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score2 == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score2 == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score2 == 4%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4" checked>&ensp;<input type="radio" name="score1" value="5">
                      {% elseif student.score2 == 5%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5" checked>
                      {% else %}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">&ensp;<input type="radio" name="score1" value="4">&ensp;<input type="radio" name="score1" value="5">
                      {% endif %}
                  {% elseif student.subjectname == "3CheckBox" %}
                      {% if student.score2 == 1%}
                          <input type="radio" name="score1" value="1" checked>&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% elseif student.score2 == 2%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2" checked>&ensp;<input type="radio" name="score1" value="3">
                      {% elseif student.score2 == 3%}
                          <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3" checked>
                      {% else %}
                           <input type="radio" name="score1" value="1">&ensp;<input type="radio" name="score1" value="2">&ensp;<input type="radio" name="score1" value="3">
                      {% endif %}
                           {% elseif student.subjectname == "Writing" %}
                              {% if student.score2 != null %}
                              <textarea class="form-control" name="score1">{{ student.score2 }}</textarea>
                              {% else %}
                              <textarea class="form-control" name="score1"></textarea>
                              {% endif %}
                  {% endif %}
                        </td>
                        <td>{{ student.created_at|date('Y-m-d') }}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <br>
            <br>
            <br>
            <br>
            <p>
          <p>
            <!--  BEGIN FOOTER  -->
          <div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2024</span> <a target="_blank" href="https://designreset.com/cork-admin/">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">SchoolWorks</p>
                </div>
            </div>
            <!--  END FOOTER  -->
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/src/plugins/src/waves/waves.min.js"></script>
    <script src="/layouts/horizontal-light-menu/app.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="/src/plugins/src/apex/apexcharts.min.js"></script>
    <script src="/src/assets/js/dashboard/dash_1.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
        <!-- END GLOBAL MANDATORY SCRIPTS -->
        <!-- **** All JS Files ***** -->
    <script src="/js/jquery.min.js"></>
    <script src="/js/popper.min.js"></script>
    

      
    <script src="/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/src/plugins/src/waves/waves.min.js"></script>
    <script src="/layouts/vertical-light-menu/app.js"></script>

    

   
  </body>
</html>